.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-container {
  margin-left: 1em;
  margin-right: 1em;
}

.App-container h4 {
  margin-top: 1.25em;
}

.App-container .App-actions {
  margin-top: 1.25em;
}

.App-globalActions {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1.25em;
}

.App-config {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1.25em;
}

.App-ThoughtProcess {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1.25em;
}

.App-ThoughtProcess-Scrollable {
  overflow-y: scroll;
  height: 300px;
  text-align: left;
  font-size: small;
}

.App-experience {
  max-width: 30em;
}